
img{ 
	Width: 100%;
}
body {box-sizing: border-box;
		/* background-color: #656461; */
	} 
main{
	border: 2px dashed transparent;	
	}
	
aside{
	border: 2px dashed red;
	width: 25%;
	padding: 2.5%;
}
article{
	border: 2px solid brown;
	width: 65%;
	padding: 2.5%;

	-moz-border-radius: 3em 3em 3em 3em;
	border-radius: 3em 3em 3em 3em;
}
section{
	border: 2px dashed green;
	/*border: 2px dashed transparent;		*/
}
.image{
	background-image: url("./images/gray.png") ;
	background-repeat: repeat-x-y; 
	opacity: 0.3;
}
.entry{
	display: flex;
	flex-direction: row;
	width: 100%;
}
/* .job{
	background-color: gray;
} */
.main-dir {
	border: 2px solid orangered;
	display: flex;
	flex-direction: column;
	width: 100%;
	-moz-border-radius: 3em 3em 3em 3em;
	border-radius: 3em 3em 3em 3em;
}
.L1{
	width: 25%;
	/* padding: 5%; */
	padding-left: 2.5%;
	padding-right: 2.5%;
	font-weight: bold;
}
.R1{
	width: 75%;
	padding-left: 2.5%;
	padding-right: 2.5%;
}
.M1{
	width: 100%;
	/* padding: 5%; */
	padding-left: 2.5%;
	padding-right: 2.5%;
}
.flex-container {
	display: flex;
}
.flex-direction {
	flex-direction: row;
}
@media screen and
(max-width:500px){
		.flex-direction {
			flex-direction: column;
		}
		aside,article {
			width: 95%;
		}
	}